<!DOCTYPE html>
<html>
  <head>
    <title>Lucky Masharane Portfolio</title>
  
  </head>
  <body>
    <div>
      <ul>
        <li class="nav"><a>Resume</a></li>
        <li class="nav"><a>Contact</a></li>
        <li class="nav"><a>Project</a></li>
        <li class="nav"><a>Professional Skills</a></li>
        <li class="nav"><a >About Me</a></li>
      </ul>
    </div>
    <h2>Lucky Masharane's Portfolio</h2>
    <h3>About Me</h3>
    <div>
      <p> <b>
        An enthusiastic and ability to work within a team and independently with minimum supervision and
        developer, who enjoys being part of a winning team, as well as a successful and productive team.
        Quick to grasp new ideas and concepts, and to develop innovative and creative solutions to
        problems. Reliable able to work well on own initiative and work well under a team as well and can
        demonstrate the high levels of motivation required to meet the tightest of deadlines. Even under
        significant pressure, possesses a strong ability to perform effectively.</b>
      </p>
    </div>
    <h3>Professional skills</h3>
      <div>
        <li>Angularjs</li>
        <li>ReactJs</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>C++</li>
        <li>MongoDB</li>
        <li>C#</li>
        <li>graphQL</li>
        <li>ASP.Net MVC web</li>
      </div>
      <h3>Career Summary</h3>
			<div>
				<h4>01 March 2017 – 31 May 2018 Developer, ITThynk, Midrand</h4>
				<li>Assessing initial set-up requirements and implementing hardware and software solutions
					accordingly</li>
				<li>Learning to work with Asp .Net MVC 4 and windows azure building website. </li>
				<li>Working with ReactJs, Angular, HTML5, CSS3 and JavaScript </li>
				<h4>05 September 2018 - 30 April 2019 Junior Software developer, WeBill (pty) Ltd </h4>
				<li>front-end Web developer working with Reactjs and Glamorous</li>
				<li>Back-end Testing with graphQL</li>
				<li>Manual testing with NodeJs</li>
			</div>
      <h3>Project</h3>
      <div class="row">
        <div class ="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?cs=srgb&dl=pexels-pixabay-434337.jpg&fm=jpg" alt="Avatar" style="width:300px;height:400px;">
          </div>
          <div class="flip-card-back">
            <h1>Attendance Register system (Team Leader)</h1> 
            <p>Nodejs</p> 
            <p>javaScript</p>
            <p>MongoDB</p>
            <p>reactjs</p>
            <p>material-ui</p>
            <p>Bootstrap</p>
          </div>
        </div>
      </div>

        </div>
        <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://images.pexels.com/photos/439227/pexels-photo-439227.jpeg?cs=srgb&dl=pexels-medhat-ayad-439227.jpg&fm=jpg" alt="Avatar" style="width:300px;height:400px;">
          </div>
          <div class="flip-card-back">
            <h1>Smart Security System (Individual Project)</h1> 
            <p>Reactjs</p> 
            <p>Css3</p>
            <p>javaScript</p>
            <p>Nodejs</p>
            <p>MongoDB</p>
          </div>
        </div>
      </div>
        </div>
      <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?cs=srgb&dl=pexels-fauxels-3183197.jpg&fm=jpg" alt="Avatar" style="width:300px;height:400px;">
          </div>
          <div class="flip-card-back">
            <h1>Municom (web applications) government project</h1> 
            <p>Reactjs</p> 
            <p>Css3</p>
            <p>html</p>
          </div>
        </div>
      </div>
      </div>
      <div class="column">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="https://images.pexels.com/photos/4386324/pexels-photo-4386324.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4386324.jpg&fm=jpg" alt="Avatar" style="width:300px;height:400px;">
          </div>
          <div class="flip-card-back">
            <h1>WeBill web portal in progress</h1> 
            <p>front-end with Reactjs</p> 
            <p>Glamorous ui</p>
          </div>
        </div>
      </div>
      </div>

      </div>
  </body>
</html>