<!DOCTYPE html>
<html>
  <head>
    <title>Lucky Masharane Portfolio</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a>Resume</a></li>
        <li><a>Contact</a></li>
        <li><a>Project</a></li>
        <li><a>Professional Skills</a></li>
        <li><a class="active" >About Me</a></li>
      </ul>
    </div>
    <h2>Lucky Masharane's Portfolio</h2>
    <div>
      <p>
        An enthusiastic and ability to work within a team and independently with minimum supervision and
        developer, who enjoys being part of a winning team, as well as a successful and productive team.
        Quick to grasp new ideas and concepts, and to develop innovative and creative solutions to
        problems. Reliable able to work well on own initiative and work well under a team as well and can
        demonstrate the high levels of motivation required to meet the tightest of deadlines. Even under
        significant pressure, possesses a strong ability to perform effectively.
      </p>
    </div>
    <h3>Professional skills</h3>
      <div>
        <li>Angularjs</li>
        <li>ReactJs</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>C++</li>
        <li>MongoDB</li>
        <li>C#</li>
        <li>graphQL</li>
        <li>ASP.Net MVC web</li>
      </div>
  </body>
</html>